body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
 /**
  * Panel Styles
  */
.panel {
    border: 1px solid #444;
    background-color: #ddd;
    border-radius: 3px;
    width: 200px;
}

.ql {
    margin: 1px;
}

.ql .ql-item {
    margin-bottom: 1px;
    padding: 2px;

    border: 1px solid #444;
    background-color: #999;
    border-radius: 3px;
}

.q-name {
    font-size: 14px;
}

.q-url {
    max-width: 100%;
    overflow: hidden;
    font-size: 10px;
}

.q-url span {
    display: block;
    width: 500px;
    white-space: nowrap;
}

.ql-control {
    background-color: #999;
    margin-top: 20px;
    font-size: 10px;
}

/**
 * QueryPanel Styles
 */

.querypanel {
    margin-top: 20px;
    border: 1px solid #444;
    background-color: #ddd;
    border-radius: 3px;
    width: 640px;
    padding: 10px;
}

