<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Web Service Auditor</title>

    <meta name="viewport" content="width=device-width">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>


<script type="text/x-template" id="tpl-panel">
    <div class="panel">
        <div class="ql">
            <% _.each(queries, function(q) { %>
            <div class="ql-item ql-item-<%=q.id%>" data-qid="<%= q.id %>">
                <div class="q-name"><%= q.name %></div>
                <div class="q-url"><span><%= q.url %></span></div>
                <div class="q-control">
                    <button class="ctrl-open_query">Open</button>
                    <button class="ctrl-remove_query">Delete</button>
                </div>
            </div>
            <% }); %>
        </div>

        <div class="ql-control">
            <button class="ctrl-add_query">New</button>
        </div>
    </div>
</script>

<script type="text/x-template" id="tpl-querypanel">
    <div class="querypanel">
        <div>
            <button class="ctrl-close" style="float: right;">Close</button>
        </div>

        <div>
            <label>HTTP Method</label>
            <select class="method">
                <% _.each(methods, function(method) { %>

                <option value="<%=method%>" <% print((q.method === method) ? 'selected=selected' : ''); %>><%=method.toUpperCase()%></option>

                <% }); %>
            </select>
        </div>

        <div>
            <label>URL</label>
            <input type="text" class="url" value="<%= q.url %>"/>

            <label>Data Type</label>
            <select class="datatype">
                <% _.each(datatypes, function(datatype) { %>

                <option value="<%=datatype%>"><%=datatype.toUpperCase()%></option>

                <% }); %>
            </select>
        </div>

        <hr />

        <div>
            <p>Headers</p>
            <div>
                <label>Key</label>
                <input type="text" class="hkey"/>

                <label>Value</label>
                <input type="text" class="hvalue"/>

                <button class="ctrl-add_header">Add</button>
            </div>
            <ul class="headers"></ul>
        </div>

        <hr />

        <div>
            <p>
                Request Data
                <select class="data-process">
                    <option value="true" selected="selected">Processed Data</option>
                    <option value="false">Unprocessed Data</option>
                </select>
            </p>
            <div class="data-cont">
                <label>Key</label>
                <input type="text" class="dkey"/>

                <label>Value</label>
                <input type="text" class="dvalue"/>

                <button class="ctrl-add_data">Add</button>

                <ul class="data"></ul>
            </div>

            <div class="rawdata-cont" style="display: none">
                <textarea class="rawdata"></textarea>
            </div>
        </div>

        <hr />

        <button class="ctrl-start">Start</button>

        <hr />

        <%
        <input type="text" class="savename" /> <button class="ctrl-save_query">Save</button>

        <hr />

        <p>Response Headers</p>
        <div>
            <code>
                <pre class="output-headers"></pre>
            </code>
        </div>

        <p>Output data</p>
        <div>
            <code>
                <pre  class="output-data" class="prettyprint linenums lang-js"></pre>
            </code>
        </div>
    </div>
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
<!-- endbuild -->

</body>
</html>
