<div class="querypanel">
    <div class="qp-header drag-handle">
        <button class="ctrl-close" style="float: right;">Close</button>
        <%print(q.name || "New Query")%>
        <div style="clear:both;"></div>
    </div>
    <div class="qp-content">
        <div>
            <label>Url:
                <input type="text" class="url" value="<%= q.url %>" placeholder="http://www.example.url/some.jsonp"/>
            </label>
        </div>

        <div>
            <label>Method</label>
            <select class="method">
                <% _.each(methods, function(method) { %>

                <option value="<%=method%>" <% print((q.method === method) ? 'selected=selected' : ''); %>><%=method.toUpperCase()%></option>

                <% }); %>
            </select>

            <label>Data Type</label>
            <select class="datatype">
                <% _.each(dataTypes, function(dataType) { %>

                <option value="<%=dataType%>" <% print((q.datatype === dataType) ? 'selected=selected' : ''); %>><%=dataType.toUpperCase()%></option>

                <% }); %>
            </select>
        </div>

        <div class="clearfix list-container">

            <div class="headers-container">
                <p>Extra headers <button class="ctrl-add_header">+</button></p>
                <table class="header-list">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(q.headers, function(header) { %>
                        <tr class="keyvaluepair header-pair">
                            <td><input type="text" class="header-key" value="<%=header.key%>"/></td>
                            <td><input type="text" class="header-value" value="<%=header.value%>"/></td>
                            <td><button class="ctrl-removepair">-</button></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>

            </div>

            <div class="data-container">
                <p>
                    Request Data <button class="ctrl-add_data">+</button>
                    <select class="processdata">
                        <option value="true" <% print((q.processdata) ? 'selected=selected' : '');%>>Processed Data</option>
                        <option value="false" <% print((!q.processdata) ? 'selected=selected' : '');%>>Unprocessed Data</option>
                    </select>
                </p>
                <div class="data-cont" <% print((!q.processdata) ? 'style="display: none"' : '');%>>
                    <table class="data-list">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(q.data, function(data) { %>
                            <tr class="keyvaluepair data-pair">
                                <td><input type="text" class="data-key" value="<%=data.key%>"/></td>
                                <td><input type="text" class="data-value" value="<%=data.value%>"/></td>
                                <td><button class="ctrl-removepair">-</button></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="rawdata-cont" <% print((q.processdata) ? 'style="display: none"' : '');%>>
                    <textarea class="rawdata"><%=q.rawdata%></textarea>
                </div>
            </div>

        </div>

        <button class="ctrl-start">Start</button>
        <button class="ctrl-gen_ajax">Generate $.ajax()</button>

        <p>Response Headers</p>
        <div class="output-headers"></div>

        <p>Output data</p>
        <div>
            <code>
                <pre  class="output-data" class="prettyprint linenums lang-js"></pre>
            </code>
        </div>

        <input type="<% print((q.name === '') ? 'text' : 'hidden')%>" class="savename" value="<%= q.name%>" placeholder="New Query" />

        <button class="ctrl-save_query">Save</button>

        <% if(q.name !== "") { %>
        <button class="ctrl-saveas_query">Save As</button>
        <button class="ctrl-remove_query">Remove</button>
        <% } %>

    </div>
</div>
